todo/ruby/todo-better/tmp
todo/ruby/todo-better/.byebug_history
todo/ruby/todo-better/db/sqlite/*
todo/ruby/todo-better/log/development.log
todo/ruby/todo-better/tmp/cache/bootsnap-load-path-cache
todo/ruby/todo-better/log/*
**/node_modules/*
*.sqlite3